<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chilam.websiteback.mapper.CourseDetailMapper">
    <resultMap id="BaseResultMap" type="cn.chilam.websiteback.pojo.CourseDetail">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
        <result column="video_id" jdbcType="INTEGER" property="videoId"/>
        <result column="class_key" jdbcType="INTEGER" property="classKey"/>
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, class_name, video_id, class_key, course_id
    </sql>

    <insert id="insert" parameterType="cn.chilam.websiteback.pojo.File">
        insert into course_detail (class_name, class_key)
        values (#{className,jdbcType=VARCHAR}, #{classKey,jdbcType=INTEGER})
    </insert>
    <delete id="deleteByPrimaryKey">
        delete
        from course_detail
        where id = (#{id,jdbcType=INTEGER})
    </delete>


</mapper>
