<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chilam.websiteback.mapper.UserMapper">
    <resultMap type="cn.chilam.websiteback.pojo.User" id="UserMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id="getUserInfoAll" resultMap="UserMap">
        SELECT
            id,
            username,
            password,
            role
        FROM user
    </select>

    <select id="getUserInfoByUsername" parameterType="String"
            resultMap="UserMap">
        SELECT
            id,
            username,
            password,
            role
        FROM user
        WHERE username = #{username}
    </select>


</mapper>